@media screen {
  :root {
    --logo-size: 48px;
    --logo-name-size: 30px;
    --navigation-size: 22px;
    --title-size: 48px;
    --second-title-size: 32px;
    --signup-text-size: 22px;
    --price-size: 22px;
    --description-size: 18px;
    --generic-button-size: 28px;
    --features-percentage: 20%;
    --feature-title-visibility: initial;
    --feature-flex-value: 1.3 1;
    --card-padding: 16px 24px 32px 24px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --logo-size: 40px;
    --logo-name-size: 30px;
    --navigation-size: 18px;
    --title-size: 40px;
    --second-title-size: 32px;
    --signup-text-size: 18px;
    --price-size: 22px;
    --description-size: 14px;
    --generic-button-size: 24px;
    --features-percentage: 20%;
    --feature-title-visibility: none;
    --feature-flex-value: 1.3 1;
    --card-padding: 16px 12px 32px 12px;
  }
}

:root {
  --main-color: black;
  --back-color: white;
  --hyperlink-hover-color: rgba(0, 0, 0, 0.75);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --half-transparent-dark-color: rgba(0, 0, 0, 0.5);
  --transparent-color: rgba(0, 0, 0, 0);
  --price-color: rgba(0, 0, 0, 0.6);
}

.lusitana-regular {
  font-family: "Lusitana", serif;
  font-weight: 400;
  font-style: normal;
}

.lusitana-bold {
  font-family: "Lusitana", serif;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.shaded-vertical {
  box-shadow: 0 4px 4px 0 var(--shadow-color);
}

.shaded-card {
  transition-duration: 0.3s;
  box-shadow: 2px 4px 8px 0 var(--shadow-color);
}

.shaded-card:hover {
  transition-duration: 0.3s;
  box-shadow: 4px 6px 12px 0 var(--shadow-color);
}

.suggested-card {
  border: 4px solid var(--main-color);
}

.shaded-text {
  text-shadow: 3px 3px 3px var(--shadow-color);
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  z-index: 2;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: var(--back-color);
  align-items: center;
  padding: 16px 24px;
  box-sizing: border-box;
}

nav {
  display: inherit;
  width: 100%;
  align-items: center;
}

nav * {
  color: var(--text-color);
}

section {
  display: flex;
  min-width: 100%;
  min-height: 100vh;
  padding: 24px 24px;
  box-sizing: border-box;
  overflow-x: clip;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

footer {
  padding: 24px 24px;
}

footer * {
  position: relative;
}

.vertical-line {
  border-right: 2px solid;
  padding-right: 16px;
  height: 50px;
}

.logo {
  transition-duration: 1s;
  cursor: default;
  font-size: var(--logo-size);
  margin-right: 16px;
}

.logo:hover {
  transition-duration: 0.3s;
  text-shadow: 3px 3px 3px var(--shadow-color);
}

.logo-name {
  font-size: var(--logo-name-size);
}

.navigation-button {
  position: relative;
  font-size: var(--navigation-size);
  margin-left: 16px;
  margin-right: 16px;
}

.navigation-button::after {
  transition-duration: 0.3s;
  content: "";
  height: 3px;
  width: 0;
  position: absolute;
  left: 50%;
  bottom: -4px;
  background-color: var(--main-color);
  pointer-events: none;
}

.navigation-button:hover::after {
  transition-duration: 0.3s;
  width: 110%;
  left: -5%;
}

.current {
  cursor: default;
  pointer-events: none;
}

.current::after {
  content: "";
  height: 3px;
  width: 110%;
  position: absolute;
  left: -5%;
  bottom: -4px;
}

.signup {
  font-size: var(--signup-text-size);
}

.black-button {
  transition-duration: 0.3s;
  margin-left: auto;
  padding: 6px 12px;
  border: 3px solid var(--main-color);
  border-radius: 8px;
}

.black-button-filled {
  transition-duration: 0.3s;
  margin-left: auto;
  padding: 6px 12px;
  border: 3px solid var(--main-color);
  border-radius: 8px;
  background-color: var(--main-color);
  color: var(--back-color);
}

.black-button:hover,
.black-button-filled:hover {
  transition-duration: 0.3s;
  background-color: var(--main-color);
  color: var(--back-color);
  box-shadow: 4px 4px 3px var(--shadow-color);
}

.black-button:active,
.black-button-filled:active {
  box-shadow: none;
}

.white-button {
  transition-duration: 0.3s;
  margin-left: auto;
  padding: 6px 12px;
  border: 3px solid var(--back-color);
  border-radius: 8px;
}

.white-button:hover {
  transition-duration: 0.3s;
  background-color: var(--back-color);
  color: var(--main-color);
  box-shadow: 4px 4px 3px var(--shadow-color);
}

.white-button:active {
  box-shadow: none;
}

.footer-hyperlinks a {
  transition-duration: 0.3s;
  font-size: 18px;
  display: block;
  margin-top: 8px;
}

.footer-hyperlinks a:hover {
  transition-duration: 0.3s;
  color: var(--hyperlink-hover-color);
}

.main {
  background-size: cover;
  overflow-y: clip;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main * {
  color: var(--back-color);
}

.main h1 {
  font-size: var(--title-size);
}

.main a {
  font-size: var(--generic-button-size);
}

.main-background {
  width: 100%;
}

.boast {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boast h1 {
  font-size: var(--title-size);
}

.boast a {
  font-size: var(--generic-button-size);
}

.features {
  flex-wrap: wrap;
  padding: 0;
  color: var(--back-color);
  justify-content: space-evenly;
}

.features h1 {
  display: var(--feature-title-visibility);
  z-index: 1;
  position: absolute;
  font-size: var(--title-size);
  left: 50%;
  transform: translate(-50%);
  margin-top: 64px;
}

.feature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  box-shadow: inset 0 4px 4px var(--shadow-color);
  transition-duration: 0.5s;
  flex: 1 1;
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  box-sizing: border-box;
}

.feature:hover {
  transition-duration: 0.5s;
  flex: var(--feature-flex-value);
}

.feature::before {
  transition-duration: 0.5s;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.feature:hover::before {
  transition-duration: 0.5s;
  background-color: var(--half-transparent-dark-color);
  backdrop-filter: blur(5px);
}

.feature div {
  padding: 180px 30px;
  z-index: 1;
}

.feature h2 {
  font-size: var(--second-title-size);
}

.feature p {
  transition-duration: 0.3s;
  font-size: var(--description-size);
  opacity: 0;
}

.feature:hover p {
  transition-duration: 1s;
  opacity: 100%;
}

.subscriptions {
  justify-content: center;
  text-align: center;
}

.subscriptions .spacer {
  width: 100%;
}

.subscriptions h1 {
  margin: 64px;
  font-size: var(--title-size);
}

.plans {
  display: flex;
  padding: 0;
  gap: 40px;
  justify-content: space-evenly;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-duration: 0.3s;
  z-index: 0;
  background-color: var(--back-color);
  width: 20vw;
  position: relative;
  flex: 1 1;
  padding: var(--card-padding);
  border-radius: 12px;
  box-sizing: border-box;
}

.plan:not(.suggested-card) {
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.plans .plan:not(:hover) {
  transition-duration: 0.3s;
}

.plans:hover .plan:not(:hover) {
  transition-duration: 0.3s;
  opacity: 50%;
  transform: scale(95%);
}

.plan:hover {
  transition-duration: 0.3s;
  opacity: 100%;
  z-index: 1;
  transform: scale(105%);
}

.plan h2 {
  font-size: var(--second-title-size);
  margin: 0;
}

.plan h3 {
  font-size: var(--price-size);
  color: var(--price-color);
  margin-top: 6px;
}

.plan p {
  font-size: var(--description-size);
  margin: 0 32px 10% 10%;
  text-align: left;
  margin-bottom: 8px;
}

.plan ul {
  text-align: left;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.plan li {
  margin: 8px 0;
  font-size: var(--description-size);
}

.plan a {
  font-size: var(--generic-button-size);
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}
